{% block content %}
    <h1>Edit Visit Form</h1>
    {%  if (form is not null) %}
    <form action="{{ url('api_1_post_update_visit', {'id': visit.id}) }}" {{ form_enctype(form) }} method="POST">
        {{ form_widget(form) }}
        <input type="submit" value="submit">
    </form>
    {% endif %}
{% endblock %}
